<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Video Call</title>
</head>
<body>
    <h1>Video Call</h1>
    <button id = "call">call</button>
    <video id="me"></video>
    <video id="myfriend"></video>
    <script src="/index.js"></script>
</body>
</html>